{% extends "base.html" %}

{% block main %}


<h1 class="page-header">Thumbnails scraped from site</h1>
 {%raw%}
 <div ng-app="myApp" ng-controller="myCtrl">
    <li ng-repeat="x in thumbs">
        {{ x }}
    </li>
</div>
{%endraw%}

<script type="" src="/static/js/angular.min.js"></script>
<script>

var app = angular.module("myApp", []);

app.controller("myCtrl", function($scope, $http) {
  
  $http.get('/api/thumbnails')
    .then(function(response) {
          
         $scope.thumbs = response.data.thumbnails;
         
    });
    
})

</script> 


{% endblock %}
